@import "comps/Footer.scss";
@import "comps/ContactUs.scss";
@import "comps/RotatingWidget.scss";
@import "comps/ExpandingWidget.scss";
@import "comps/ActionReport.scss";
@import "comps/ReportArea.scss";
@import "comps/WidgetsArea.scss";

button, input {
  font-size: inherit;
  border-radius: 0;
  margin: 0 5px;
}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
